{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <li>
        <a id="logo" href="{% url 'twitter:list' %}">DnDTwitter</a>
        {% if user.is_authenticated %}
            <a href="{% url 'twitter:create' %}">Create Tweet</a>
        {% else %}
            <a href="{% url 'accounts:login' %}">Login</a>
            <a href="{% url 'accounts:signup' %}">Sign Up</a>
        {% endif %}
    </li>
    {% block content %}
    {% endblock %}
</body>
</html>